/*
    Name: Ethan Yu
    Email: Ethan_Yu@student.uml.edu
    Github: https://github.com/Yuniversality/gui-assignment4-part1
    CSS File for Assignment 4A: Adding jQuery Validation to Dynamic Multiplication Table
*/

/* Background image for the webpage */
body {
    background-image: url("../images/cube-background.jpg");
}

/* Format background, text, and size of form */
#form-div {
    background-color: floralwhite;
    font-style: italic;
    min-width: 40%;
    min-height: 30%;
}

/* Add space after every form row */ 
.row {
    margin-bottom: 2%;
}

/* Add some extra space around the button */
form button {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Warnings are displayed in red */
h4, .error {
    color: #ff0000;
    padding-left: 15%;
}

/* Changes text color and spaces the table from the rest of page using padding */
#dynamic-table {
    padding-top: 5%;
    padding-bottom: 5%;
    color: floralwhite;
}

/* Creates a border around each cell and increases the size of cell contents */
table {
    border-collapse: collapse;
    font-size: 150%;
}

/* Make the dynamic table scrollable and have a max size */
#dynamic-table-div {
    overflow:hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 450px;
    max-width: 50%;
    margin-left: 5%;
}

/* Spaces out each table cell by 6 px */
td {
    padding: 8px;
}

/* Makes the column headers have white text and black background */
tr:first-child td {
    color: black;
    background-color: white;
}

/* Makes the row headers have white text and black background */
td:first-of-type {
    color: black;
    background-color: white;
}

/* Makes the top left corner cell transparent */
tr:first-child td:first-child {
    color: transparent;
    background-color: transparent;
}
